.idea/
vendor/
node_modules/
bootstrap/compiled.php
app/storage/
storage/*.key
npm-debug.log
access.log
error.log
.env
.env.dusk.*
public/css/*
public/js/*
public/images/*
public/storage/
public/mix-manifest.json
