
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primaryColor: #26c6da;
$warningColor: #eea236;
$errorColor: #d43f3a;
$lightGreenColor: #00ff00;
