
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "../css/bootstrap.min.css";
@import "../css/demo.css";
@import "../css/material-dashboard.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.fade:not(.show) {
  opacity: 1!important;
}
.fade.in {
  background: rgba(0, 0, 0, 0.5)!important;
}

body, input {
  font-size: 1.2em!important;
  line-height: 1!important;
}

.invalid-input {
  background: rgba(255, 41, 43, 0.2)!important;
  border: 1px solid rgb(255, 62, 62)!important;
  color: rgb(255, 0, 0) !important;
}
