@import url('https://fonts.googleapis.com/css?family=Nunito');

.body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background: #f4f6fa;
}
.logo-wrapper {
  height: 40px;
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.logo {
  font-size: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.content {
  width: 50%;
  margin: auto;
  padding: 30px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  background: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.content p {
  margin-top: 0;
  margin-bottom: 5px;
}
.footer {
  text-align: center;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.email-info {
  font-size: 15px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}
h2 {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 0;
}
hr {
  opacity: 0.5;
  border-bottom: 0;
}
.wishes {
  margin-top: 50px;
  font-size: 18px;
}
.wishes * {
  margin: 0 0 5px 0;
  padding: 0;
}

.text-center {
  text-align: center!important;
}

.btn-assessment {
  padding: 5px 30px;
  background: #26c6da!important;
  text-decoration: none!important;
  color: #FFFFFF!important;
  border-radius: 20px;
}
